@import "./_variables";

.margin-right {
  margin-right: 195px;
}

.padding-left {
  padding-left: 210px;
}

.width-30 {
  width: 30%;
  height: 30%;
}

.style-link {
  text-decoration: none;
}

.bg-first {
  background-color: $background-primary;
}

.iconPlus {
  width: 50px;
  height: 50px;
}

.facebook-icon {
  width: 20px;
  height: 20px;
}

.height-box {
  height: 3rem;
}

.text-xl-paragraph {
  font-size: 13px;
  font-weight: 600;
}

.margin-title {
  margin-top: 9px;
}
.width-xl {
  width: 15%;
  height: 15%;
}

div.margin-bottom {
  margin-bottom: 10px !important;
}

.margin-left {
  margin-left: 197px;
}

.font-size-app {
  font-size: 38px;
}

.size-image {
  width: 40px;
  height: 40px;
}

.size-lens {
  width: 15px;
  height: 15px;
}

.size-input {
  width: 70px;
}

.size-image-lg {
  width: 80px;
  height: 80px;
}

.iconPosition {
  position: absolute;
  top: 15px;
  right: 470px;
}

.bottom {
  bottom: 405px;
  left: 155px;
}

div.position-image {
  position: absolute;
  left: 409px;
  top: 59px;
}

.widthContainerCarousel {
  width: 250px;
}

.font-size-small {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

.width-small {
  width: 190px;
}

.max-height-image {
  max-height: 299px;
}

.scroll-cards {
  height: 350px;
  overflow-y: scroll;
}
